<div class="friendslist">
    <ul>
        <!-- <li *ngFor="let friend of friendsList" id="{{friend.userName}}">
            <span class="number"><img src="../assets/{{friend.image}}"></span>
            <span class="name">
                <h4>{{friend.username}}</h4>
                <p>{{friend.name}} {{friend.lastname}}</p>
            </span>
            <span>
                <i class="fas fa-address-card" data-toggle="tooltip" data-placement="top" title="See info"></i>
            </span>
            <span><i id="{{friend.username}}" class="fas fa-user-times" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                (click)="deleteFriend($event, friend)" title="Delete friend"></i></span>
        </li> -->
    </ul>
</div>
