<br/>
<div class="container">
    <div class="row">
        <div class="col col-md-10 offset-1">
            <h5>History of rented cars:</h5>
        </div>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Car</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price per day</th>
                    <th scope="col">Total price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let car of user.reservedCarHistory">
                <tr>
                    <td><i style="color: white; margin-left: 10px;" class="fas fa-arrow-right"></i></td>
                    <td>{{car.vehicle.markOfVehicle}} {{car.vehicle.modelOfVehicle}}</td>
                    <td>{{car.vehicle.averageRatingOfVehicle}}</td>
                    <td>{{car.startDate}} - {{car.endDate}}</td>
                    <td>{{car.pricePerDay}}</td>
                    <td>{{car.totalPrice}}</td>
                    <td><button [disabled]="car.rated" data-toggle="modal" data-target="#rateRentacar" class="btn btn-primary" (click)="rateCar(car)">Rate</button></td>
                    <!--<td>{{ticket.dateOfReservation | date: "dd. MMM y"}} <br/>
                        {{ticket.dateOfReservation | date: "HH:mm"}}
                    </td>
                    <td><button [disabled]="ticket.disabled" class="btn btn-success">Cancel</button></td>
                    <td>-->
                </tr>
            </tbody>
        </table>
        <app-rate-rentacar (values)="admitRating($event)"></app-rate-rentacar>
    </div>
    <div class="row">
        <div class="col col-md-10 offset-1">
            <h5>History of reserved flights:</h5>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Passport number:</th>
                        <th scope="col">Ticket:</th>
                        <th scope="col">Date:</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let ticket of user.ticketHistory">
                    <tr>
                        <td><i style="color: white; margin-left: 10px;" class="fas fa-arrow-right"></i></td>
                        <td>{{user.passportNumber}}</td>
                        <td>{{ticket.destinationFrom}} - {{ticket.destinationTo}}</td>
                        <td>{{ticket.dateOfReservation | date: "dd. MMM y"}} <br/>
                            {{ticket.dateOfReservation | date: "HH:mm"}}
                        </td>
                        <td>
                        <button [disabled]="!ticket.disabled" class="btn btn-primary" data-toggle="modal" data-target="#rateAirline" (click)="rateFlight(ticket)">
                            Rate</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-rate-airline (values)="admitRating2($event)"></app-rate-airline>
        </div>
    </div>
</div>
