input{
    width: 300px;
}

textarea.blockPrikaz{
    overflow-wrap: normal;
    height: 400px;
    text-align: justify;
    
    width: 450px;
}

#title {
    color: black;
}

label {
    color: black;
    font-size: 24;
}

.error {
    border-color: red;
}

.allGood {
    border-color: green;
}

button {
    background-color: rgb(9, 94, 16)
}