<div style="padding-top: 1%;">
  <nav class="offersDisplay">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="airlines-tab" data-toggle="tab" href="#airlines" role="tab"
        aria-controls="airlines" aria-selected="true"><label>Airlines</label></a>
      <a class="nav-item nav-link" id="car-tab" data-toggle="tab" href="#rentacar" role="tab" aria-controls="rentacar"
        aria-selected="false"><label>Rent-A-Car</label></a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="airlines" role="tabpanel" aria-labelledby="airlines-tab">
      <app-airlinesdisplay></app-airlinesdisplay>
    </div>
    <div class="tab-pane fade" id="rentacar" role="tabpanel" aria-labelledby="car-tab">
      <app-carsdisplay></app-carsdisplay>
      
    </div>
  </div>
</div>

