    <div style="padding-top: 1%;">
        <app-rentacar-search (EventEmitter)="acceptData($event)"></app-rentacar-search>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NAME OF SERVICE</th>
                    <th scope="col">HQ ADDRESS</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">BRANCH LOCATIONS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of allCars">
                    <td>{{car.nameOfService}}</td>
                    <td>{{car.location.nameOfCity}} <br/> 
                        {{car.location.nameOfStreet}} {{car.location.numberInStreet}} <br/>
                    {{car.location.geoWidth}} {{car.location.geoHeight}}</td>
                    <td style="max-width: 700px;">{{car.descriptionOfService}}</td>
                    <td>
                        <div *ngFor="let branch of car.branches">
                            <p>{{branch.location.nameOfCity}}, {{branch.location.nameOfStreet}} {{branch.location.numberInStreet}}</p>
                            <br/>
                        </div>
                    </td>
                    <td>
                        <!-- Prenos id-ja kao parametra putanje komponenti -->
                        <button class="btn btn-success" routerLink="/alloffers/{{car.id}}/carprofile">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    


